.displayNone {
  display:  none;
}

.red {
  color: red;
}

.green {
  color: green;
}

.onClick {
  cursor: pointer;
}

.row {
  display: flex;
}

.pointer {
  cursor: pointer;
}

.photoNav {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.photoUp {
  background-color: blueviolet;
  width: 200px;
  height: 250px;
  object-fit: cover;
}