.displayNone {
  display:  none;
}

.red {
  color: red;
}

.green {
  color: green;
}

.onClick {
  cursor: pointer;
}

.row {
  display: flex;
}

.pointer {
  cursor: pointer;
}

.line {
  border-bottom: 1px solid rgb(143, 143, 143);
}

.cardmy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.qr {
  width: 50px;
  height: 50px;
}

.photoNav {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.fraseCard {
  width: 100%;
  font-size: 25px;
}

.photoCard {
  border-top-left-radius: 30%;
  object-fit: cover;
  width: 70px;
  height: 75px;
}

.photoUp {
  background-color: blueviolet;
  width: 200px;
  height: 250px;
  object-fit: cover;
}